.listing-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/bg-01.jpg');
    background-size: cover;
    filter: sepia(0.5);
}

.list {
    width: 100%;
    height: calc(100vh - 100px);
    background: white;
    max-width: 70%;
    min-width: 285px;
    margin-bottom: -52px;
}

@media (min-width: 1140px) {
    .list {
        max-width: 60%;
    }
}