.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login-container form input {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 16px;
    background: #d8cdcd;
    -webkit-text-fill-color: black;
}

.login-container form button {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    background: black;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-container form img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.login-container form span {
    font-weight: bold;
    letter-spacing: 1px;
}

.login-container form a {
    font-weight: bold;
    text-decoration: none;
    color: #a2a8ab;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 1px;
}

.login-container form p {
    font-size: 2.2rem;
    font-family: monospace;
    transform: skewX(10deg);
}