.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-01.jpg');
    background-size: cover;
    filter: sepia(0.5);
}

.logo {
    margin: 0px 0px 30px 0px;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
}

.login-container form input:not(.inputRemember) {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border: none;
    padding: 0 5px;
    font-size: 16px;
    border-bottom: 1.4px solid #8e9ba1;
    -webkit-text-fill-color: #8e9ba1;
    font-family: Poppins-Medium;
    transition: all .9s ease-in-out;
}

.login-container form input:focus {
    border-bottom: 1.4px solid #0044ff;
    transition: border-width all .9s ease-in-out;
}

.login-container form button {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    background: black;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: Poppins-Medium;
}

.login-container form span {
    font-weight: bold;
    letter-spacing: 1px;
}

.login-container form p {
    font-size: 2.2rem;
    transform: skewX(10deg);
    position: relative;
    top: -10vh;
}

.row-login {
    max-width: 600px;
    min-width: 280px;
    width: 430px;
    height: 500px;
    background: white;
    border-radius: 3%;
}

.div-forgot {
    width: 100%;
    text-align: end;
    padding: 5px 0px 10px 0px;
}

a {
    text-decoration: none;
    color: #8e9ba1;
    font-weight: normal;
    transition: all .5s ease-in-out
}

a:hover {
    color: #0d13ff;
    transition: all .5s ease-in-out;
}

.msg-error {
    border: 1px solid salmon;
    color: salmon;
    padding: 2px;
    width: 100%;
}

.msg-error-size {
    max-width: 260px;
}

.label-remember {
    color: #8e9ba1;
    margin-right: 5px;
}

.divRemember {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 4px;
}

@media (max-width: 900px) {
    .div-forgot,
    .divRemember {
        max-width: 260px;
    }
    .login-container form button {
        max-width: 250px;
    }
    .login-container form input:not(.inputRemember) {
        max-width: 250px;
    }
}

@media (max-width: 450px) {
    .row-login {
        width: 90%;
    }
}